html {
  background: #333;
  color: #ddd;
  text-align: center;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

button {
  background: none;
  border: none;
  color: inherit;
  font: inherit;
  font-size: 2em;
}

.container {
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 0.5fr 1fr 1fr 0.25fr;
      grid-template-rows: 0.5fr 1fr 1fr 0.25fr;
      grid-template-areas: 'tle tle tle tle' 'brk tmt tmt ses' 'tkr tkr tkr tkr' '. str rst .';
}

#title {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: tle;
}

#tomato {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: tmt;
  height: 15em;
}

#break {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: brk;
  -ms-grid-column-align: right;
      justify-self: right;
}

#break-label {
  cursor: pointer;
}

#break-length {
  font-size: 2em;
}

#session {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
  grid-area: ses;
  -ms-grid-column-align: left;
      justify-self: left;
}

#session-label {
  cursor: pointer;
}

#session-length {
  font-size: 2em;
}

.ticker-wrap {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: tkr;
}

.ticker-wrap #time-left {
  font-size: 5em;
}

#start_stop {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: str;
  -ms-grid-column-align: right;
      justify-self: right;
}

#reset {
  -ms-grid-row: 4;
  -ms-grid-column: 3;
  grid-area: rst;
  -ms-grid-column-align: left;
      justify-self: left;
}

@media only screen and (orientation: portrait) {
  #tomato {
    height: 10em;
  }
}
/*# sourceMappingURL=style.css.map */