html {
  background: #333;
  color: #ddd;
  text-align: center;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

button {
  background: none;
  border: none;
  color: inherit;
  font: inherit;
  font-size: 2em;
}

.container {
  margin: 0 auto;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 1fr 1fr 0.25fr;
  grid-template-areas:
            'tle tle tle tle'
            'brk tmt tmt ses'
            'tkr tkr tkr tkr'
            '. str rst .';
}

#title {
  grid-area: tle;
}

#tomato {
  grid-area: tmt;
  height: 15em;
}

#break {
  grid-area: brk;
  justify-self: right;
  &-label {
    cursor: pointer;
  }
  &-length {
    font-size: 2em;
  }
}

#session {
  grid-area: ses;
  justify-self: left;
  &-label {
    cursor: pointer;
  }
  &-length {
    font-size: 2em;
  }
}

.ticker-wrap {
  grid-area: tkr;
  #time-left {
    font-size: 5em;
  }
}

#start_stop {
  grid-area: str;
  justify-self: right;
}

#reset {
  grid-area: rst;
  justify-self: left;
}

@media only screen and (orientation: portrait) {
  #tomato {
    height: 10em;
  }
}